<!DOCTYPE html>
<htmL>
    <head>
        <title>Contato</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body background="../static/imgs/fundo2.png">
                <img src="../static/imgs/logo.png" alt="logo">
                <a id="link_b" a href="/contato">Contato</a><span id="link_a">┃</span>
                <a id="link_a" a href="/users">Users</a><span id="link_a">┃</span>
                <a id="link_a" a href="/quem">Quem Somos</a><span id="link_a">┃</span>
                <a id="link_a" a href="/home">Home</a>
        <div class="b"><br>
            <h2>Entre em contato</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ipsum non magna posuere interdum sit amet quis ex.
            </p><hr>
            <form method="post" action="/contato">
                Seu e-mail: <br>
                <input type="email" name="email" required><br>
                Assunto: <br>
                <input type="text" name="assunto" required><br>
                Descrição : <br>
                <input type="text" name="descricao" required><br>
                <input type="submit">
            </form><br>
            <p class="texto">Todos os direitos reservados</p>
        </div>
    </body>
</htmL>