<!DOCTYPE html>
<htmL>
    <head>
        <title>Contato</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body background="../static/imgs/fundo2.png">
                <img src="../static/imgs/logo.png" alt="logo">
                <a id="link_b" a href="/contato">Contato</a><span id="link_a">┃</span>
                <a id="link_a" a href="/users">Users</a><span id="link_a">┃</span>
                <a id="link_a" a href="/quem">Quem Somos</a><span id="link_a">┃</span>
                <a id="link_a" a href="/home">Home</a>
                <table>
                    <tr>
                        <th>Email</th>
                        <th>Assunto</th>
                        <th>Descrição</th>
                    </tr>
                    {% for usuarios in usuarios %}
                    <tr>
                        <td>{{usuarios['email_users']}}</td>
                        <td>{{usuarios['assunto_users']}}</td>
                        <td>{{usuarios['descricao_users']}}</td>
                    </tr>
                    {% endfor %}
                </table>
    </body>
</htmL>