<!DOCTYPE html>
<htmL>
    <head>
        <title>Contato</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body background="static/imgs/fundo2.png">
                <img src="static/imgs/logo.png" alt="logo">
                <a id="link_b" a href="/contato.html">Contato</a><span id="link_a">┃</span>
                <a id="link_a" a href="/quem.html">Quem Somos</a><span id="link_a">┃</span>
                <a id="link_a" a href="/home.html">Home</a>
        <div class="b"><br>
            <h2>Entre em contato</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ipsum non magna posuere interdum sit amet quis ex.
            </p><hr>
            <form action="/action_page.php">
                <label for="email">Seu e-mail:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="assunto">Assunto:</label><br>
                <input type="text" id="assunto" name="assunto"><br>
                <label for="desc">Descrição:</label><br>
                <textarea id="w3review" name="w3review" rows="2" cols="18"></textarea><br>
                <input type="submit" value="Enviar">
            </form><br>
            <p class="texto">Todos os direitos reservados</p>
        </div>
    </body>
</htmL>