<!DOCTYPE html>
<htmL>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body background="static/imgs/fundo2.png">
                <img src="static/imgs/logo.png" alt="logo">
                <a id="link_b" a href="/contato.html">Contato</a><span id="link_a">┃</span>
                <a id="link_a" a href="/quem.html">Quem Somos</a><span id="link_a">┃</span>
                <a id="link_a" a href="/home.html">Home</a>
        <div class="a">
            <img src="static/imgs/capa.png">
        </div>
        <div class="b">
            <h2>Sobre a universidade</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ipsum non magna posuere interdum sit amet quis ex. Phasellus consectetur rutrum ipsum ut rhoncus.
                Nulla nec augue eu sapien vulputate blandit. Fusce nec feugiat nisi. Curabitur vehicula nulla nisl. Nunc pharetra eros mauris, quis tristique massa sollicitudin quis.
                Donec at elit eu enim viverra laoreet ac quis tortor. Phasellus malesuada at tortor et scelerisque. In iaculis metus ut turpis rutrum, dapibus maximus urna luctus.
            </p>
            <p>
                Fusce eget magna mauris. Maecenas feugiat ac quam at scelerisque. Phasellus rhoncus risus pulvinar, dignissim lectus pretium, facilisis ipsum.
                Integer pharetra enim id lacus viverra vehicula. Vestibulum a pellentesque felis. Vivamus tempor consectetur nunc vel efficitur.
                Aliquam vel elit sed mauris volutpat ultrices.
            </p><br>
        </div>
        <p class="texto">Todos os direitos reservados</p>
    </body>
</htmL>