<!DOCTYPE html>
<htmL>
    <head>
        <title>Quem</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body background="static/imgs/fundo2.png">
                <img src="static/imgs/logo.png" alt="logo">
                <a id="link_b" a href="/contato.html">Contato</a><span id="link_a">┃</span>
                <a id="link_a" a href="/quem.html">Quem Somos</a><span id="link_a">┃</span>
                <a id="link_a" a href="/home.html">Home</a>
            </div>
            <div class="b">
                <h2>Quem somos</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan ligula nibh, vitae aliquam dui mollis vitae. Vestibulum sapien augue, malesuada ac arcu vitae,
                    venenatis venenatis felis. Praesent feugiat, justo a efficitur commodo, lectus elit ornare purus, ac iaculis diam nisl non lectus. Suspendisse ac urna sem. Sed tortor nisi,
                    rutrum sit amet purus id, tincidunt tempor sapien. Praesent sit amet ligula id enim tempus euismod sed non orci. Mauris ornare nunc ligula, at posuere nunc dictum non.
                    Sed id gravida elit. Mauris vitae orci nec elit semper iaculis. Cras id ornare dui, eget suscipit tellus. Phasellus odio ligula, interdum at accumsan nec, suscipit sodales
                    velit.
                </p>
                <h2>5 motivos para estudar</h2>
                <ol>
                    <li>Material sempre atualizado</li>
                    <li>Tablets em sala de aula</li>
                    <li>Professores renomados</li>
                    <li>Universidade bem avaliada</li>
                    <li>Ótima localização</li>
                </ol>
                <hr>
                <h2>Objetivos</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan ligula nibh, vitae aliquam dui mollis vitae. Vestibulum sapien augue, malesuada ac arcu vitae,
                    venenatis venenatis felis. Praesent feugiat, justo a efficitur commodo, lectus elit ornare purus, ac iaculis diam nisl non lectus. Suspendisse ac urna sem. Sed tortor nisi,
                    rutrum sit amet purus id, tincidunt tempor sapien. Praesent sit amet ligula id enim tempus euismod sed non orci. Mauris ornare nunc ligula, at posuere nunc dictum non.
                    Sed id gravida elit. Mauris vitae orci nec elit semper iaculis. Cras id ornare dui, eget suscipit tellus. Phasellus odio ligula, interdum at accumsan nec, suscipit sodales
                    velit.</p><br>
            </div>
            <p class="texto">Todos os direitos reservados</p>
    </body>
</htmL>